#header {
    font-family: "Poppins", serif;
    font-weight: 1600;
    font-style: normal;
  }
  
#trailer {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

#watchlink {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  